# Non Graded Challenge 12
- Muhammad Fadlil Ismail
- FTDS Batch 10 Phase 0

## Soal
- Lakukan hypothesis testing terhadap dataset diatas.
- Ambil kesimpulan dari hasil analisa.
- dataset : https://github.com/mfadlili/learning_journal/blob/main/phase_0/week_3/data-2.csv?raw=true

## Import Library

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats

## Load Data

In [3]:
df = pd.read_csv('https://github.com/mfadlili/learning_journal/blob/main/phase_0/week_3/covid_19_indonesia_time_series_all.csv?raw=true')
df.head()

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,...,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths
0,3/1/2020,ID-JK,DKI Jakarta,2,0,0,2,39,20,41,...,-6.204699,0.18,3.60,0.0,1.84,0.18,51.28%,105.13%,NaN,NaN
1,3/2/2020,ID-JK,DKI Jakarta,2,0,0,2,41,20,41,...,-6.204699,0.18,3.78,0.0,1.84,0.18,48.78%,100.00%,1.0,1.0
2,3/2/2020,IDN,Indonesia,2,0,0,2,2,0,0,...,-0.789275,0.01,0.01,0.0,0.00,0.00,0.00%,0.00%,NaN,NaN
3,3/2/2020,ID-RI,Riau,1,0,0,1,2,0,3,...,0.511648,0.16,0.33,0.0,0.00,0.00,0.00%,150.00%,NaN,NaN
4,3/3/2020,ID-JK,DKI Jakarta,2,0,0,2,43,20,41,...,-6.204699,0.18,3.96,0.0,1.84,0.18,46.51%,95.35%,1.0,1.0

In [9]:
df['Date'] = pd.to_datetime(df.Date)
df.Date

0       2020-03-01
1       2020-03-02
2       2020-03-02
3       2020-03-02
4       2020-03-03
           ...
21754   2021-12-02
21755   2021-12-02
21756   2021-12-02
21757   2021-12-02
21758   2021-12-03
Name: Date, Length: 21759, dtype: datetime64[ns]

## One Sample T-test

Menghitung rata-rata New Cases per hari

In [16]:
new_cases_daily_average = df.groupby(['Date'])['New Cases'].sum().mean()
new_cases_daily_average

13241.301710730948

Hipotesis:
- H0 : rata-rata jumlah kasus baru harian pada bulan Juli tahun 2021 <= rata-rata jumlah kasus baru harian.
- H1 : rata-rata jumlah kasus baru harian pada bulan Juli tahun 2021 > dari rata-rata jumlah kasus baru harian.

Menghitung rata-rata New Cases per hari pada Juli 2021

In [14]:
new_cases_daily_average_July_2021 = df[(df.Date<'2021-08-01') & (df.Date>'2021-06-30')].groupby(['Date'])['New Cases'].sum().mean()
new_cases_daily_average_July_2021

79262.54838709677

In [17]:
t_stat,p_val = stats.ttest_1samp(79262.54838709677, 13241.301710730948)
print('P-value:',p_val/2) #The p-value divided by 2 since the output is two-sided p-value
print('t-statistics:',t_stat)

P-value: nan
t-statistics: nan

In [22]:
t_stat,p_val = stats.ttest_1samp(580, 500)
t_stat

nan