In [30]:
import pandas as pd
import numpy as np

# Series

In [31]:
revenues = pd.Series([5000, 10000, 8000])

In [32]:
print(revenues.index)
print(revenues.values)

RangeIndex(start=0, stop=3, step=1)
[ 5000 10000  8000]

In [51]:
penduduk = pd.Series([2, 0.2, 10, 1], index=['Yogyakarta', 'Magelang', 'Jakarta', 'Karawang'])
penduduk

Yogyakarta     2.0
Magelang       0.2
Jakarta       10.0
Karawang       1.0
dtype: float64

In [34]:
# positional index jika indexnya dalam angka default, 0123
# label index jika index tidak menggunakan default

In [52]:
umr = pd.Series({"Yogyakarta": 2.1, "Magelang": 1.8, "Jakarta": 4.2, "Karawang":4.3})

In [53]:
print(umr.keys())
print("Karawang" in umr)
print(2.1 in umr.values)

Index(['Yogyakarta', 'Magelang', 'Jakarta', 'Karawang'], dtype='object')
True
True

In [54]:
umr = pd.Series({"Semarang":2.2})
umr.append(umr)

Semarang    2.2
Semarang    2.2
dtype: float64

# Data Frame

In [55]:
kota = pd.DataFrame({'UMR':umr, 'Penduduk':penduduk})
kota

            UMR  Penduduk
Jakarta     NaN      10.0
Karawang    NaN       1.0
Magelang    NaN       0.2
Semarang    2.2       NaN
Yogyakarta  NaN       2.0